<div class="container">
  

    <app-nav/>
    <!-- Joke Display -->
    <div *ngIf="joke" class="joke-card">
      <p class="setup">Setup: {{ joke.setup }}</p>
  
      <div class="card">
        <button *ngIf="!showDelivery" class="secondary-button" (click)="revealDelivery()">What/Why?:</button>
        <p *ngIf="showDelivery" class="delivery">👉 {{ joke.delivery }}</p>
      </div>
      <div class="controls">
        <button class="primary-button"
        (click)="fetchJoke()">New Joke</button>
      </div>
      
     
    </div>


  <!-- Category Selection -->
  <div class="category-section">
    <label *ngFor="let category of categories" class="category-label">
      <input
        type="radio"
        name="category"
        [value]="category"
        [(ngModel)]="selectedCategory">
      {{ category }}
    </label>
  </div>

  <!-- Joke Controls -->
  <div class="controls">
    
    <button class="favorite-button" (click)="saveToFavorites()">❤️ Save to Favorites</button>
    <button *ngIf="joke" class="secondary-button" (click)="resetJoke()">Reset</button>
  </div>


</div>
