/* Global styles */
body {
  background-color: rgba(255, 230, 2, 0.925);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Custom card styles */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 600px;
}

/* Custom button styles */
.primary-button, .secondary-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  margin: 0 0.5rem;
}

.primary-button {
  background-color: #09b92f;
  color: white;
  border: none;
}

.primary-button:hover {
  background-color: #0b5ed7;
}

.secondary-button {
  border: 1px solid #6c757d;
  background-color:black;
  color: aliceblue;
}



.controls {
  text-align: center;
  margin-bottom: 2rem;
}

.joke-card {
  background-color: rgba(255, 230, 2, 0.925);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 5.1);
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 600px;
}
