
  .secondary-button{
    display: inline-block;
    text-align: center;
  }
.title{
  text-align: center;
}
  .card {
    background-color: rgba(255, 230, 2, 0.925);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    margin: 2 auto;
    margin-bottom: 10px;
    max-width: 600px;
  }
  